@keyframes spin {
    20% { content:"Designer";}
    40% { content:"Freelancer";}
    60% { content:"Programmer";}
    80% { content:"Entreprenuer";}
    100% { content:"Problem Solver";}
  }
  
  
      #main {
          display: inline-block;
          vertical-align: middle;
          align-items: start;
          margin-right:50%;
          font-size: 3em;
      }
  
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

#poppinsmain {
    font-family: 'poppins'; 
    font-size: 35px;
    color:#ffffff;
    margin-top: -20px
}

#contactbutton {
    font-family: 'poppins'; 
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    text-align:center;
    background-color: #ffffff;
    border-color: black;
    margin-top: 1em;
    margin-right: 1em;
    padding:10px 20px 10px 20px;
    transition: all 0.3s ease-in-out;
}

#contactbutton:hover{
    background-color: transparent;
    border-color: #000;
    color: aqua;
    border-radius: 3px;
}

#spin {
  color:aqua;
}

#spin:after {
  content:"Developer";
  animation: spin 5s linear infinite;
}

/* Hero section stylizing*/
#hero {
    font-size: 75px;
    font-weight: bold;
    font-family: 'Poppins';
}

.hero{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

body {
  background: #1F1E1D;
  font-family: "Poppins";
}

.hero {
    margin-top: 16%;
    margin-bottom: 16%;
    display: block;
    color:#ffffff;
    width: 100%;
}

.mynavbar{
    display: block;
    width: 100%;
}

#main {
    display: inline-block;
    vertical-align: middle;
    align-items: start;
    margin-right:100%;
    font-size: 3em;
}
.navMenu {
    display: block;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
    text-align: right;
    font-size:1.2em;
    background-color: #000;
}

a, a:link, a:visited{
    color: #ffffff;
}

.navMenu a, a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
  margin-left: 2em;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

a {
    text-decoration: none;
}

/* Animation for meet with me link */
#meet{
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff 50%,
      aqua 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    font-weight: 800;
    padding: 5px 0;
    position: relative;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

/* Animation for bar underneath */
#meet:before{
    content: '';
    background: aqua;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
#meet:hover {
   background-position: 0;
}
  
#meet:hover::before{
    width: 100%;
}

/* Animation for email  link */
#email{
    background-image: linear-gradient(
      to right,
      aqua,
      aqua 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    font-weight: 800;
    padding: 5px 0;
    position: relative;
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    margin-left: 1.5em;
}

/* Animation for bar underneath */
#email:before{
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
 #email:hover {
   background-position: 0;
}
  
#email:hover::before{
    width: 100%;
}

.navMenu a:hover {
  color: aqua;
}

.navMenu .dot {
  width: 6px;
  text-align: right;
  height: 6px;
  background: aqua;
  border-radius: 50%;
  opacity: 0;
  margin-left: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(-620px);
    transform: translateX(-620px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(-475px);
  transform: translateX(-475px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(-185px);
  transform: translateX(-185px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(-45px);
    transform: translateX(-45px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }

.portfolio {
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 4em 4em 4em;
    grid-template-columns: 100% 0%;
    width: 80%;
    border-radius: 5px;
    display: grid;
    gap: 50px 60px;
}

table {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.thumb img {
    border-radius: 5px;
    border: 2px solid #000;
    display: inline-block;
    margin-bottom: 2em;
    width: 95%;
    position: relative;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.3s ease-in-out;
}

.thumb img:hover{
    top: 0;
    border: 2px solid aqua;
    left: 0;
    background-color:#000;
    opacity:1;
}

.info {
    display: none;
    
    top: 100px;
    left: 0;
    text-align: center;
  }

h1 {
    text-align: center;
    font-size: 2rem;
    color: aqua;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

p {
    font-size: 20px;
    color: #fff;
}

#me {
    color: #fff;
}

.sectionA {
   margin-top: 4em;
}

#languages img {
    display: inline-block;
    margin-top:  2em;
    margin-bottom: 2em;
    height: auto;
    max-width: 200px;
    vertical-align: middle;
    vertical-align: middle;
}

#aboutme {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#gridcontainer{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

#paragraph {
    margin-left: auto;
    margin-right: auto;
}

#resume {
    width: 100%;
}

#footer{
    margin-top: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: aqua;
}

html {
	scroll-behavior: smooth;
}

#brag {
    text-align: right;
    font-size: 1em;
    color: #fff;
    display: none;
}

/*============================================== MOBILE CUSTOMIZATION ==============================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/
/*==================================================================================================================*/

/* Menu Animation */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700');

:root {
	--dark: #333;
	--light: #fff;
	--neutral: #f6f6f6;
	--neutral-dark: #d1d1d1;
	--color: #5607d7;
	--color-light: #941ed2;
	--color-dark: #2719cd;
	--font-stack: 'Josefin Sans', 'Montserrat', 'sans-serif';
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: url('data:image/svg+xml,%3Csvg width="300" height="300" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z" fill="%239C92AC" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E') fixed;
	font-family: var(--font-stack);
	&:before {
		content: '';
		width: 400px;
		height: 400px;
		background: linear-gradient(135deg, orange, orangered);
		border-radius: 50%;
		position: fixed;
		top: -50px;
		left: 10vw;
		z-index: -1;
	}
	&:after {
		content: '';
		width: 300px;
		height: 300px;
		background: linear-gradient(135deg, cyan, blue);
		border-radius: 50%;
		position: fixed;
		bottom: -50px;
		right: -5vw;
		z-index: -1;
	}
}

.hero__wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
	&:before {
		content: '';
		width: 150px;
		height: 150px;
		background: linear-gradient(135deg, var(--color-light), var(--color-dark));
		border-radius: 50%;
		position: fixed;
		bottom: 50px;
		left: 10px;
		z-index: -1;
	}
	> * {
		margin: 15px;
	}
}

.hero__header {
	flex: 0 1 1px;
	padding-right: 50px;
	color: var(--dark);
	font-size: 8vmax;
}

.hero__phone {
	width: 300px;
	height: 630px;
	background: var(--light);
	background-color: #ffffff;
background: #fff url('https://codepenworldsfair.com/images/small-worlds-fair.png') center/250px no-repeat;
	border: 12px solid var(--dark);
	border-radius: 36px;
	position: relative;
	overflow: hidden;
	&:before {
		content: '';
		width: 175px;
		height: 25px;
		background: var(--dark);
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translatex(-50%);
		z-index: 1000;
	}
	&:after {
		content: '';
		width: 100px;
		height: 5px;
		background: var(--dark);
		border-radius: 2px;
		position: absolute;
		bottom: 6px;
		left: 50%;
		transform: translatex(-50%);
		z-index: 1000;
	}
}

.menu__button {
	--x: -50%;
	--y: 0;
	--z: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: linear-gradient(to right, var(--color-light), var(--color-dark));
	padding: 10px 20px;
	border-radius: 28px;
	box-shadow: 0 2px 40px -10px var(--color);
	color: var(--light);
	font-size: 16px;
	white-space: nowrap;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translate3d(var(--x), var(--y), var(--z));
	cursor: pointer;
	z-index: 105;
	transition: .15s cubic-bezier(.33,1,.53,1);
	&[hidden] {
		--y: 200%;
	}

	:div {
		display: flex;
		align-items: center;
		width: 12px;
		height: 12px;
		margin-right: 20px;
		:div {
			display: table;
			height: 1px;
			background: var(--light);
			box-shadow: 0 4px 0 var(--light), 0 -4px 0 var(--light);
		}
	}
}

.menu__overlay {
		width: 100%;
		height: 100%;
		background: rgba(#000, .1);
		position: absolute;
		z-index: 100;
}

.menu__body {
	--x: 0;
	--y: 0;
	--z: 0;
	display: block;
	width: 100%;
	background: var(--light);
	padding-bottom: 15px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 0px -9px 50px -30px black;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	bottom: 0;
	z-index: 105;
	transform: translate3d(var(--x), var(--y), var(--z));
	transition: .2s cubic-bezier(.33,1,.53,1);
	&[hidden] {
		--y: 150%;
	}
	> *:not(:last-child) {
		border-bottom: 2px solid var(--neutral);
	}
}

.menu__header {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	:label {
		:div {
			width: 15px;
			height: 15px;
			border: 2px solid var(--dark);
			border-radius: 50%;
			position: relative;
			transform: rotate(5.5rad);
			&:after {
				content: '';
				width: 2px;
				height: 10px;
				background: var(--dark);
				position: absolute;
				top: 100%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	:p {
		font-size: 18px;
		font-weight: bold;
		vertical-align: center;
		white-space: nowrap;
	}
	:h3 {
		font-weight: normal;
	}
	:button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 25px;
		height: 25px;
		background: var(--neutral-dark);
		border-radius: 50%;
		cursor: pointer;
		:div {
			width: 15px;
			height: 3px;
			background: var(--light);
			position: relative;
			transform: rotate(5.5rad);
			&:before {
				content: '';
				width: 3px;
				height: 15px;
				background: var(--light);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.menu__links {
	display: flex;
	padding: 10px 15px;
	font-weight: bold;
	overflow-x: auto;
	:a {
		flex: 1 1 1px;
		padding: 10px 8px;
		color: var(--dark);
		text-decoration: none;
		white-space: nowrap;
	}
}

.menu__contact {
	display: flex;
	padding: 8px;
	:svg {
		width: 100%;
		fill: var(--color);
	}
	:a {
		flex: 1 1 30%;
		padding: 5px;
		margin: 5px;
		border-radius: 8px;
		background: var(--neutral);
		color: var(--color);
		text-align: center;
		font-size: 14px;
		font-weight: bold;
	}
}