@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

@keyframes spin {
  20% {
    content: "Designer";
  }
  40% {
    content: "Freelancer";
  }
  60% {
    content: "Programmer";
  }
  80% {
    content: "Entreprenuer";
  }
  100% {
    content: "Problem Solver";
  }
}
#main {
  display: inline-block;
  vertical-align: middle;
  align-items: start;
  margin-right:0;
  font-size: 3em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#poppinsmain {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 35px;
  color: #ffffff;
  margin-top: -20px;
}

#contactbutton {
  font-family: "Poppins";
  font-weight: bold;
  cursor: pointer;
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
  border-color: black;
  margin-top: 5em;;
  margin-bottom: 30px;
  padding: 10px 20px 10px 20px;
  transition: all 0.3s ease-in-out;
}

#contactbutton:hover {
  background-color: transparent;
  border-color: #000;
  color: aqua;
  border-radius: 3px;
}

#spin {
  color: aqua;
}

#spin:after {
  content: "Developer";
  animation: spin 5s linear infinite;
}

/* Hero section stylizing*/
#hero {
  font-size: 125px;
  font-weight: bold;
  font-family: "Poppins";
}

.hero {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 20%;
  display: block;
  color: #ffffff;
  width: 100%;
}

html {
  background: #1F1E1D;
  font-family: "Poppins";
}

.mynavbar {
  display: block;
  width: 100%;
}

#main {
  display: inline-block;
  vertical-align: middle;
  align-items: start;
  margin-right: 100%;
  font-size: 3em;
}

.navMenu {
  display: block;
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1em;
  text-align: justify;
  font-size: 1.2em;
  width: 100%;
  background-color: #8f2828;
}

a, a:link, a:visited {
  color: #ffffff;
}

.navMenu a, a:visited {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-left: 2em;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

/* Animation for meet with me link */
#meet {
  background-image: linear-gradient(to right, #ffffff, #ffffff 50%, aqua 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: block;
  font-weight: 800;
  font-size: 30px;
  padding: 0px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

/* Animation for bar underneath */
#meet:before {
  content: "";
  background: aqua;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#meet:hover {
  background-position: 0;
}

#meet:hover::before {
  width: 100%;
}

/* Animation for email  link */
#email {
  background-image: linear-gradient(to right, aqua, aqua 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: block;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  padding: 15px 0 0px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  margin-left: 0;
}

/* Animation for bar underneath */
#email:before {
  content: "";
  background: #fff;
  display: block;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#email:hover {
  background-position: 0;
}

#email:hover::before {
  width: 100%;
}

.navMenu a:hover {
  color: aqua;
}

#mportfolio img{
  border-radius: 5px;
  border: 2px solid #000;
  display: inline-block;
  margin-bottom: 2em;
  width: 75%;
  position: relative;
  margin-left: auto;
  margin-top: 3em;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
}

.info {
  display: none;
  top: 100px;
  left: 0;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: aqua;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

p {
  font-size: 20px;
  color: #fff;
}

#me {
  color: #fff;
}

.sectionA {
  margin-top: 4em;
}

#languages img {
  display: inline-block;
  margin-top: 2em;
  margin-bottom: 2em;
  height: auto;
  max-width: 200px;
  vertical-align: middle;
  vertical-align: middle;
}

#aboutme {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#paragraph {
  margin-left: auto;
  margin-right: auto;
}

#resume {
  width: 100%;
}

#footer {
  margin-top: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: aqua;
}

html {
  scroll-behavior: smooth;
}

#brag {
  text-align: right;
  font-size: 1em;
  color: #fff;
  display: none;
}

#pdfbutton {
  font-family: 'poppins'; 
  font-weight: bold;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  text-align:center;
  background-color: #ffffff;
  border-color: black;
  margin-top: 1em;
  padding:10px 20px 10px 20px;
  transition: all 0.3s ease-in-out;
}

#pdfbutton:hover{
  background-color: white;
  border-color: #000;
  color: white;
  border-radius: 3px;
}